@model UI.Models.Record.f29Record

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = "PORTAL box";
}
@addTagHelper *, UI



    <div class="modal_record_container">
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
            <div class="col-sm-9 col-md-8">
                <input class="form-control" asp-for="Rec.f29Name" />
                <span asp-validation-for="Rec.f29Name" class="text-danger"></span>
            </div>
            <label class="col-sm-1 col-md-1 col-form-label">Pořadí:</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.f29Ordinal" decimal-digits="0"></mynumber>
            </div>
        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">Dostupné typy činností:</label>
            <div class="col-sm-11 col-md-10">
                <mycombochecklist asp-for="@Model.a17IDs" entity="a17DepartmentType" selectedtext="@Model.a17Names" placeholder="Vybrat typy činností..."></mycombochecklist>
            </div>


        </div>

        <div class="form-row my-2">
            <textarea asp-for="Rec.f29Description" class="form-control" placeholder="Podrobný popis"></textarea>
            <span asp-validation-for="Rec.f29Description" class="text-danger"></span>
        </div>



    </div>





<script type="text/javascript">
    $(document).ready(function () {



    });






</script>

