
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@addTagHelper *, UI

<div class="modal_record_container">
    <h4>UIFT</h4>



    <h1>@_f.tra("V tomto prohlížeči již vyplňujete anketu přes anonymní přístup.")</h1>

</div>


