@inject BL.Factory _f

@{
    ViewData["Title"] = _f.tra("Odhlášení z aplikace");
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>@_f.tra("Došlo k odhlášení uživatele")</h2>

<a asp-action="UserLogin" asp-controller="Login">@_f.tra("Přihlásit se")</a>


