@model UI.Models.Record.a28Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = "Typ školy";
}
@addTagHelper *, UI

    <div class="modal_record_container">
        <div class="row">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.a28Name" />

            </div>
        </div>
        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Kód"):</label>
            <div class="col-sm-3 col-md-2">
                <input class="form-control" asp-for="Rec.a28Code" />
            </div>
        </div>


        <div class="row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Index pořadí"):</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.a28Ordinary" decimal-digits="0"></mynumber>
            </div>

        </div>






    </div>





<script type="text/javascript">
    $(document).ready(function () {

        

    });

   




</script>








