@model UI.Models.Record.x91Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Jazykový překlad");
}
@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Originál"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.x91Code" />
            
        </div>

    </div>
    
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">English:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.x91Lang1" />
            
        </div>
    </div>
    
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">UA:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.x91Lang2" />

        </div>
    </div>

</div>
<div>
    <button id="cmdRecovery" type="button" class="btn btn-primary">@_f.tra("Občerstvit cache překladů na serveru")</button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
       

        $("#cmdRecovery").click(function () {
            $(this).text("Processing...");
            $(this).attr("disabled", true);
            form1.action = "/x91/Record?oper=recovery";
            form1.submit();
        });







    });
</script>



