@model UI.Models.Record.x39Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Externí datový zdroj");
}
@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Jednoznačný kód"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.x39Code" />

        </div>

    </div>
    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.x39Name" />

        </div>
    </div>

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Připojovací řetězec"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.x39Value" />

        </div>
    </div>

    <div class="my-2">
        <textarea asp-for="Rec.x39Description" class="form-control" placeholder="@_f.tra("Podrobný popis")"></textarea>

    </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {


        







    });
</script>



