@model UI.Models.Record.j26Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Svátek - nepracovní den");
}
@addTagHelper *, UI

<div class="modal_record_container">

    <div class="row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název svátku"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.j26Name" />
            <span asp-validation-for="Rec.j26Name" class="text-danger"></span>
        </div>

    </div>
    <div class="row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Datum"):</label>
        <div class="col-sm-3 col-md-3">
            <mydate asp-for="@Model.Rec.j26Date"></mydate>
        </div>


    </div>

</div>

