@model UI.Models.Record.j26Record

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = "Svátek - nepracovní den";
}
@addTagHelper *, UI

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název svátku:</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.j26Name" />
            <span asp-validation-for="Rec.j26Name" class="text-danger"></span>
        </div>

    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">Datum:</label>
        <div class="col-sm-3 col-md-3">
            <mydate asp-for="@Model.Rec.j26Date"></mydate>
        </div>


    </div>

</div>

