<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Off">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets async="true">
    <target name="basicLog" xsi:type="File"
            layout="${longdate} ${logger} ${message}${exception:format=ToString}"
            fileName="d:/Visual Studio Projects/ePIS_Core/upload/uift.log"
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Error" final="true" />

    <logger name="*" maxlevel="Error" minlevel="Debug" writeTo="basicLog" />
  </rules>
</nlog>