@model UI.Models.Pokus

@{
    ViewData["Title"] = "GRID testování";
    Layout = "~/Views/Shared/_Layout.cshtml";


}




@addTagHelper *, UI

<h1>Grid</h1>


<vc:the-grid input="@Model.gridinput"></vc:the-grid>





<script type="text/javascript">
  
</script>

