@model UI.Models.Pokus

@{
    ViewData["Title"] = "Strom";
    Layout = "~/Views/Shared/_Layout.cshtml";


}




@addTagHelper *, UI



<link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
<link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />

<script src="/kendo/js/kendo.core.min.js"></script>

<script src="/kendo/js/kendo.data.min.js"></script>
<script src="/kendo/js/kendo.treeview.min.js"></script>



<h1>Strom</h1>
<strong>
    @(Model.hovado)
</strong>

<style type="text/css">
    #tree1 .cervena{
        color:red;
    }
    #tree1 img{
        margin-right:5px;
    }
</style>




<script type="text/javascript">

    $(document).ready(function () {

       
             
        

    });



</script>
