@model UI.Models.Pokus
@{
    ViewData["Title"] = "Telerik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />

<script src="/kendo/js/kendo.core.min.js"></script>
<script src="/kendo/js/kendo.userevents.min.js"></script>
<script src="/kendo/js/kendo.draganddrop.min.js"></script>
<script src="/kendo/js/kendo.treeview.draganddrop.min.js"></script>
<script src="/kendo/js/kendo.data.min.js"></script>
<script src="/kendo/js/kendo.treeview.min.js"></script>


<h1>Telerik</h1>

<div id="peklo1"></div>

<hr />
<div id="peklo2"></div>





<script>
   
    $(document).ready(function () {
            @Html.Raw("var ds="+Model.JsonTreeDatasource+";")



            var tree1 = $("#peklo2").kendoTreeView(
                {
                    checkboxes: {
                        checkChildren: true
                    },
                    dataSource: ds,
                    dataTextField:"text",
                    check: onCheck,                    
                    template: "<a class='cm' onclick='_cm(event,\"#: item.prefix #\",#: item.id #)'>☰</a><span> #: item.text # </span>"
                }
            );

        init_tree();
        //recursiveReading(tree1.dataSource.view());

        });



    function recursiveReading(nodes) {
        for (var i = 0; i < nodes.length; i++) {
            _notify_message(i);

            if (nodes[i].hasChildren)
                recursiveReading(nodes[i].children.view());

        }
    }

    function init_tree() {
        var treeView = $("#peklo2").data("kendoTreeView");
        var nodes = treeView.dataSource.view();

        //nodes[0].set("text", "<a href='#' style='color:red;'>hovado</a>");

    }



    function onCheck(e) {

        //alert(this.text(e.node) + ": " + this.id(e.node));

            var checkedNodes = [];
            var treeView = $("#peklo2").data("kendoTreeView");
            var message;

            checkedNodeIds(treeView.dataSource.view(), checkedNodes);

            if (checkedNodes.length > 0) {
                message = "IDs of checked nodes: " + checkedNodes.join(",");
            } else {
                message = "No nodes checked.";
            }

            alert(message);
        }


        function checkedNodeIds(nodes, checkedNodes) {
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].checked) {
                    checkedNodes.push(nodes[i].id);
                }

                if (nodes[i].hasChildren) {
                    checkedNodeIds(nodes[i].children.view(), checkedNodes);
                }
            }
        }
</script>


</div>


