@model UI.Models.Pokus
@{
    ViewData["Title"] = "Telerik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="/kendo/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />

<script src="/kendo/js/kendo.core.min.js"></script>
<script src="/kendo/js/kendo.userevents.min.js"></script>
<script src="/kendo/js/kendo.draganddrop.min.js"></script>
<script src="/kendo/js/kendo.treeview.draganddrop.min.js"></script>
<script src="/kendo/js/kendo.data.min.js"></script>
<script src="/kendo/js/kendo.treeview.min.js"></script>


<h1>Telerik</h1>

@addTagHelper *, UI


<div style="width:300px;">
    <select asp-for="@Model.SelectedID" class="form-control" onselect="sel()" onfocus="foc()">
        <option value="0">--Typ akce--</option>
        
    </select>
    
</div>

<div style="width:300px;">
    <myselect entity="a10EventType" asp-for="@Model.a10ID" firstemptyrowtext="--Vybrat typ akce--" firstemptyrowvalue="0" textfield="a10Name"></myselect>
</div>


<script type="text/javascript">

    $(document).ready(function () {


        $("#SelectedIDx").focus(function (e) {            
            if (!$(this).prop("naplneno")) {

                var s = "<option value='0'>--Typ akce--</option><option value='1'>Hovado</option>";
                s += "<option value='2'>Debil</option>";
                s += "<option value='3'>Blbec</option>";
                $(this).html(s);

                $(this).prop("naplneno", "1");
               
                return;
                $(this).append(new Option("option text 1", "1"));
                $(this).append(new Option("option text 2", "2"));
                $(this).append(new Option("option text 3", "3"));
                $(this).append(new Option("option text 4", "4"));
                //$(this).trigger("chosen:updated");
                //$(this).focus();
                //$(this).trigger("select");
                //$("#SelectedID").val("0").trigger("chosen:updated");

                //setTimeout(function () {

                //    $("#SelectedID").trigger("change");

                //}, 1000);

                //$("#SelectedID").trigger("chosen:updated");
                //$(this).val("0");
                //$(this).click();



            }
            
        });


    });

    function hovado(cbx) {

        if (!$(cbx).prop("naplneno")) {

            var s = "<option value='0'>--Typ akce--</option><option value='1'>Hovado</option>";
            s += "<option value='2'>Debil</option>";
            s += "<option value='3'>Blbec</option>";
            $(cbx).html(s);

            $(cbx).prop("naplneno", "1");
           


        }
    }



    function sel() {
        _notify_message("select");
    }
    function foc() {
        _notify_message("focus");
    }
</script>


