@model UI.Models.Pokus
@{
    ViewData["Title"] = "Telerik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/kendo/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
<link href="/kendo/styles/kendo.default.min.css" rel="stylesheet" type="text/css" />
<link href="/kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" type="text/css" />

<script src="/kendo/js/kendo.core.min.js"></script>
<script src="/kendo/js/kendo.userevents.min.js"></script>
<script src="/kendo/js/kendo.draganddrop.min.js"></script>
<script src="/kendo/js/kendo.treeview.draganddrop.min.js"></script>
<script src="/kendo/js/kendo.data.min.js"></script>
<script src="/kendo/js/kendo.treeview.min.js"></script>


<h1>Telerik</h1>


        <ul id="treeview">
            <li data-expanded="true">
                <img src="~/images/form.png" />
                Docela dlouhý nápis ve stromu
                <ul>
                    <li data-expanded="true">
                        
                        <a class="cm" onclick="_cm(event, 'f06Form',200683);">☰</a>
                        <span ondblclick="_notify_message('dblclick')">Segment formuláře</span>
                        <ul>
                            <li>
                                <a class="cm" onclick="_cm(event, 'f06Form',200683);">☰</a>
                                <img src="~/images/type_radio.png" />
                                <span ondblclick="_notify_message('dblclick')">Otázka v segmentu</span>
                            </li>
                            <li><img src="~/images/type_text.png" />body-back.png</li>
                            <li><img src="~/images/type_text.png" />my-photo.jpg</li>
                        </ul>
                    </li>
                    <li data-expanded="false">
                        <span class="k-sprite folder"></span>resources
                        <ul>
                            <li data-expanded="true">
                                <span class="k-sprite folder"></span>pdf
                                <ul>
                                    <li><span class="k-sprite pdf"></span>brochure.pdf</li>
                                    <li><span class="k-sprite pdf"></span>prices.pdf</li>
                                </ul>
                            </li>
                            <li><span class="k-sprite folder"></span>zip</li>
                        </ul>
                    </li>
                    <li>about.html</li>
                    <li>contacts.html</li>
                    <li>index.html</li>
                    <li>portfolio.html</li>
                </ul>
            </li>
        </ul>
    

    <script>
        $(document).ready(function () {
            $("#treeview").kendoTreeView();
        });</script>

    



