
#mainmenu1_container {
    background-color: #1E2DE0;
    
}

#divLoginHeader {
    background-color: #1E2DE0;
    margin-bottom:30px;
}

#imgLoginHeader {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

#myModalContentContainerHeader {
    background-color: #1E2DE0;
    height: 30px;
    padding: 3px;
}
#myModalContentHeader{
    color:white;
}

#mainmenu1_div_logo {
  
    padding: 6px;
}
#mainmenu1_div_logo_switch{
    display:block;
}

@media screen and (max-width: 1200px) {
    #mainmenu1_div_logo {
        display: none;
    }
    #mainmenu1_div_logo_switch{
        display:none;
    }
}