@model UI.Models.Record.a09Record

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = "Typ zřizovatele";
}
@addTagHelper *, UI

<div class="modal_record_container">

    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">Název:</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control" asp-for="Rec.a09Name" />
            <span asp-validation-for="Rec.a09Name" class="text-danger"></span>
        </div>

    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">UIV kód:</label>
        <div class="col-sm-5 col-md-4">
            <input class="form-control" asp-for="Rec.a09UIVCode" />
            <span asp-validation-for="Rec.a09UIVCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">Index pořadí:</label>
        <div class="col-sm-1 col-md-1">
            <mynumber asp-for="Rec.a09Ordinal" decimal-digits="0"></mynumber>
        </div>

    </div>
   
    
    <div class="form-row my-2">
        <textarea asp-for="Rec.a09Description" class="form-control" placeholder="Podrobný popis"></textarea>
        <span asp-validation-for="Rec.a09Description" class="text-danger"></span>
    </div>
</div>
