@model UI.Models.Record.o15Record

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = "AutoComplete položka";
}
@addTagHelper *, UI

    <div class="modal_record_container">
        <div class="form-row">
            <label class="col-sm-1 col-md-2 col-form-label">Typ položky:</label>
            <div class="col-sm-4 col-md-4">
                <select asp-for="Rec.o15Flag" class="form-control">
                    <option value="TitulPred">Titul před jménem</option>
                    <option value="TitulZa">Titul za jménem</option>
                    <option value="Stat">Stát</option>
                    <option value="UrlAdresa">Url adresa</option>
                 
                </select>


            </div>
            
        </div>
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">Hodnota:</label>
            <div class="col-sm-11 col-md-10">
                <input class="form-control" asp-for="Rec.o15Value" />
                <span asp-validation-for="Rec.o15Value" class="text-danger"></span>
            </div>

        </div>
        <hr />
        <div class="form-row my-2">
            <label class="col-sm-1 col-md-2 col-form-label">Index pořadí:</label>
            <div class="col-sm-1 col-md-1">
                <mynumber asp-for="Rec.o15Ordinary" decimal-digits="0"></mynumber>
            </div>

        </div>



    </div>



