@model UI.Models.Record.f12Record
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutRecord.cshtml";
    if (Model.Rec == null) return;
    Model.PageTitle = _f.tra("Typ formuláře");
}
@addTagHelper *, UI

<div class="modal_record_container">
    <div class="form-row">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Název"):</label>
        <div class="col-sm-11 col-md-10">
            <input class="form-control" asp-for="Rec.f12Name" />
            <span asp-validation-for="Rec.f12Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row my-2">
        <label class="col-sm-1 col-md-2 col-form-label">@_f.tra("Nadřízený typ"):</label>
        <div class="col-sm-11 col-md-10">
            <mycombo entity="f12FormType" asp-for="Rec.f12ParentID" selectedtext="Rec.ParentName"></mycombo>
        </div>
    </div>



    <div class="form-row my-2">
        <textarea asp-for="Rec.f12Description" class="form-control" placeholder="@_f.tra("Podrobný popis")"></textarea>
        <span asp-validation-for="Rec.f12Description" class="text-danger"></span>
    </div>



</div>





<script type="text/javascript">
    $(document).ready(function () {



    });






</script>







