@model a42CompleteJob
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.a42ID == 0) return;

    ViewData["Title"] = _f.tra("Generování akcí pro INEZ dávku");
}

@addTagHelper *, UI


@if (Model.CurrentRecA03 == null)
{

}
<div class="bg-light" style="padding:10px;">
    <button type="button" onclick="RunOneJob()" class="btn btn-primary">@_f.tra("Spustit generování")</button>
</div>

<div id="divResult" style="font-weight:bold;">

</div>

<script type="text/javascript">
    $(document).ready(function () {






        _mainmenu_highlight_current("cmdA01");




    });

    function RunOneJob() {
        $.post("/a42/RunPartOfJob", { a42id: @Model.a42ID, take_records_per_job:2 }, function (data) {
            if (data.pid == 1) {
                $("#divResult").html("Akce připraveny.");
                alert("Akce připraveny.");
                return;
            }
            $("#divResult").html(data.message);

            alert("ok");

            RunOneJob();
        });
    }
</script>

