@model UI.Models.Recpage.h11RecPage
@inject BL.Factory _f

@{
    Model.PageTitle = "Info";
    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;
}

@addTagHelper *, UI

    <h4>
        @Model.Rec.h11Name
        <span class="badge badge-primary">@_f.tra("článek na nástěnce")</span>
    </h4>
@Html.Raw(Model.TagHtml)

<hr />


@Html.Raw(Model.HtmlContent)